<nav class="navbar sticky-top">
    <div class="container-fluid m-2">
        
      <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <ng-icon size="2.5rem" name="heroBars4"></ng-icon>
      </a>

      <a class="navbar-brand mt-1" routerLink="/">
        <h1><b style="color: #9ec15e; font-weight: 800;">Nutri</b><i>Plan</i></h1>
      </a>

      <a class="nav-link" aria-current="page" href="#">
        <ng-icon size="2.5rem" name="heroMagnifyingGlass"></ng-icon>
      </a>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header mx-1 pb-0">
            <button type="button" class="btn btn-outline-link" (click)="limpiarForm" data-bs-dismiss="offcanvas" aria-label="Close">
                <ng-icon name="heroXMark" size="1.75rem"></ng-icon>
            </button> 
        </div>
        <div class="offcanvas-body mx-3">
          <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/">
              <ng-icon class="me-3" size="2rem" name="heroHome"></ng-icon>
              <span>Inicio</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/recetas">
              <ng-icon class="me-3" size="2rem" name="matRamenDiningOutline"></ng-icon>
              <span>Recetas</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/nutrinfo">
              <ng-icon class="me-3" size="2rem" name="heroMagnifyingGlass"></ng-icon>
              <span>Nutrinfo</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/nutriplan">
              <ng-icon class="me-3" size="2rem" name="typContacts"></ng-icon>
              <span>Mi NutriPlan</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/perfil">
              <ng-icon class="me-3" size="2rem" name="heroUser"></ng-icon>
              <span>Perfil</span>
            </a>            
          </div>
        </div>
        <div class="offcanvas-footer mx-3 mb-5">
            <div class="d-grid gap-2 mx-3 text-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-lg btn-bd-primary">
                    Iniciar Sesion
                </button>
                <a data-bs-toggle="modal" data-bs-target="#loginModal" class="btn-lnk" (click)="formRegister()">o registrate aqui</a>
            </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="modal fade" data-bs-backdrop="static" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="d-flex flex-row-reverse">
              <a type="button"  data-bs-dismiss="modal" aria-label="Close" (click)="limpiarForm()">
                <ng-icon name="heroXMark" size="1.75rem"></ng-icon>
              </a>
            </div>
          <h4 class="modal-title text-center mb-4 mt-3" id="loginModalLabel">{{ titleModal }}</h4>
          <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit">
            <div class="mb-3">
              <input formControlName="email" [class.is-invalid]="emailField.touched && emailField.invalid" type="email"
                class="form-control" id="id_email" placeholder="Correo Electronico">
              <div *ngIf="emailField.touched && emailField.hasError('required')" class="d-block invalid-feedback">Por favor ingrese un correo electronico.</div>
              <div *ngIf="emailField.touched && emailField.hasError('email')" class="d-block invalid-feedback">Correo electronico no valido</div>
            </div>
            <div class="mb-3">
              <input formControlName="password" [class.is-invalid]="passwordField.touched && passwordField.invalid"
                type="password" class="form-control" id="id_Password" placeholder="Contraseña" #password>
              <div *ngIf="passwordField.touched && passwordField.hasError('required')" class="d-block invalid-feedback">Por favor ingrese una contraseña</div>
            </div>
            <div class="mb-3 d-none" #divVerifyPassword>
              <input type="password" class="form-control" #inputVerifyPassword placeholder="Repetir contraseña">
              <div *ngIf="password.value !== inputVerifyPassword.value" class="d-block invalid-feedback">Las contraseñas son diferentes</div>
            </div>
            <div *ngIf="ifRegister; else loginActions">
              <button [disabled]="loginForm.invalid && password.value !== inputVerifyPassword.value" type="submit" class="btn btn-lg btn-bd-primary w-100">Crear una cuenta</button>
              <p class="my-3">¿Ya tienes cuenta? <a class="btn-lnk" (click)="formLogin()">Iniciar Sesion</a></p>
            </div>
            <ng-template #loginActions>
              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-lg btn-bd-primary w-100">Iniciar Sesion</button>
              <p class="my-3">¿Aun no te registraste? <a class="btn-lnk" (click)="formRegister()">Registrate ahora</a></p>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>