<nav class="navbar sticky-top">
    <div class="container-fluid m-2">
        
      <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <ng-icon size="2.5rem" name="heroBars4"></ng-icon>
      </a>

      <a class="navbar-brand mt-1" routerLink="/">
        <h1><b style="color: #9ec15e; font-weight: 800;">Nutri</b><i>Plan</i></h1>
      </a>

      <a class="nav-link" aria-current="page" href="#">
        <ng-icon size="2.5rem" name="heroMagnifyingGlass"></ng-icon>
      </a>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header mx-1 pb-0">
            <button type="button" class="btn btn-outline-link" data-bs-dismiss="offcanvas" aria-label="Close">
                <ng-icon name="heroXMark" size="1.75rem"></ng-icon>
            </button> 
        </div>
        <div class="offcanvas-body mx-3">
          <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/">
              <ng-icon class="me-3" size="2rem" name="heroHome"></ng-icon>
              <span>Inicio</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/recetas">
              <ng-icon class="me-3" size="2rem" name="matRamenDiningOutline"></ng-icon>
              <span>Recetas</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/nutrinfo">
              <ng-icon class="me-3" size="2rem" name="heroMagnifyingGlass"></ng-icon>
              <span>Nutrinfo</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/nutriplan">
              <ng-icon class="me-3" size="2rem" name="typContacts"></ng-icon>
              <span>Mi NutriPlan</span>
            </a>
            <a class="nav-link mb-3" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/perfil">
              <ng-icon class="me-3" size="2rem" name="heroUser"></ng-icon>
              <span>Perfil</span>
            </a>            
          </div>
        </div>
        <div class="offcanvas-footer mx-3 mb-5">
            <div class="d-grid gap-2 mx-3 text-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-lg btn-bd-primary">
                    Iniciar Sesion
                </button>
                <a class="btn-lnk">o registrate aqui</a>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit">
            <div class="mb-3">
              <label for="id_email" class="form-label">Email address</label>
              <input formControlName="email" [class.is-invalid]="emailField.touched && emailField.invalid" type="email"
                class="form-control" id="id_email">
              <div *ngIf="emailField.touched && emailField.hasError('required')" class="d-block invalid-feedback">Please
                provide a Email.</div>
              <div *ngIf="emailField.touched && emailField.hasError('email')" class="d-block invalid-feedback">Email
                address is
                not valid</div>
            </div>
            <div class="mb-3">
              <label for="id_Password" class="form-label">Password</label>
              <input formControlName="password" [class.is-invalid]="passwordField.touched && passwordField.invalid"
                type="password" class="form-control" id="id_Password">
              <div *ngIf="passwordField.touched && passwordField.hasError('required')" class="d-block invalid-feedback">
                Please
                provide a Password.</div>
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-lg btn-bd-primary w-100">Iniciar Sesion</button>
          </form>
        </div>
      </div>
    </div>
  </div>