
<!-- buscar_recetas.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Buscar Recetas</title>
</head>
<body>
    <h1>Buscar Recetas</h1>
    <form method="GET" action="{% url 'buscar_recetas' %}">
        <input type="text" name="q" placeholder="Ingrese un ingrediente">
        <button type="submit">Buscar</button>
    </form>

    {% if recetas %}
        <h2>Recetas encontradas:</h2>
        <ul>
            {% for receta in recetas %}
                <li>
                    <h3>{{ receta.recipe.label }}</h3>
                    <p>{{ receta.recipe.source }}</p>
                    <p>Ingredientes:</p>
                    <ul>
                        {% for ingrediente in receta.recipe.ingredients %}
                            <li>{{ ingrediente.text }}</li>
                        {% endfor %}
                    </ul>
                    <p><a href="{{ receta.recipe.url }}">Ver detalles de la receta</a></p>
                    <img src="{{ receta.recipe.image }}" alt="Imagen de la receta">
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>